<ux-pricingtable 
	title="Standard"
	price="$100"
	description="good descriptoin"
	class="table"
	>
	<li class="bullet-item">1 Database</li>
	<li class="bullet-item">5GB storage</li>
	<li class="bullet-item">50 users</li>
</ux-pricingtable>
