{{#if (level == 1)}}<h1 class="subheader">{{>content}}</h1>{{/if}}
{{#if (level == 2)}}<h2 class="subheader">{{>content}}</h2>{{/if}}
{{#if (level == 3)}}<h3 class="subheader">{{>content}}</h3>{{/if}}
{{#if (level == 4)}}<h4 class="subheader">{{>content}}</h4>{{/if}}
{{#if (level == 5)}}<h5 class="subheader">{{>content}}</h5>{{/if}}