.ux-reveal {

	.reveal-modal {
		position: fixed;
		max-height: 80%;
		overflow-y: auto;
	}

	.modal-visible {
		display: block;
		visibility: visible;
	}

	.close-reveal-modal {
		text-decoration: none;
	}

}
