<style>
.container .padded {
    padding: 20px 0;
}
.container div {
    border: 2px solid;
}
</style>
<div class="container">
	{{#reflow}}
		<div data-equalizer-watcher="foo" class="padded test1" intro="equalizer">
			<p>line 1</p>
			<p>line 2</p>
			<p>line 3</p>
		 </div>
	{{/}}
	{{#reflow}}
		 <div data-equalizer-watcher="foo"  class="test2" intro="equalizer">
			<p>line 1</p>
		 </div>
	{{/}}
</div>