<ul class="accordion" data-accordion>
	<li class="accordion-navigation">
		<a href="#panel1a">Accordion 1</a>
		<div id="panel1a" class="content active">
			{[>content}}
		</div>
	</li>
	<li class="accordion-navigation">
		<a href="#panel2a">Accordion 2</a>
		<div id="panel2a" class="content">
			Panel 2.
		</div>
	</li>
	<li class="accordion-navigation">
		<a href="#panel3a">Accordion 3</a>
		<div id="panel3a" class="content">
			Panel 3.
		</div>
	</li>
</ul>