<ux-accordian>
	<ux-accordianitem>
		<ux-anchor>Item 1</ux-anchor>
		<ux-content><h2>First accordian item</h2></ux-content>
	</ux-accordianitem>
	<ux-accordianitem>
		<ux-anchor>Item 2</ux-anchor>
		<ux-content><h2>Second accordian item</h2></ux-content>
	</ux-accordianitem>
	<ux-accordianitem>
		<ux-anchor>Item 3</ux-anchor>
		<ux-content><h2>Third accordian item</h2></ux-content>
	</ux-accordianitem>
</ux-accordian>
