<ux-accordion>
	<ux-accordionitem>
		<ux-anchor>Item 1</ux-anchor>
		<ux-content><h2>First accordion item</h2></ux-content>
	</ux-accordionitem>
	<ux-accordionitem>
		<ux-anchor>Item 2</ux-anchor>
		<ux-content><h2>Second accordion item</h2></ux-content>
	</ux-accordionitem>
	<ux-accordionitem>
		<ux-anchor>Item 3</ux-anchor>
		<ux-content><h2>Third accordion item</h2></ux-content>
	</ux-accordionitem>
</ux-accordion>
