@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

$max-pages: 10;

.ux-orbit {

	.orbit-container {

		position: relative;
		overflow: hidden;

		@for $i from 0 through $max-pages {
			&.currentPage#{$i+1} {
				.orbit-slides-slide  {
					position: relative;
					left: -#{(100% / $max-pages) * $i};
				}
			}
		}

		.pageContainer {
			width: 100% * $max-pages;
			@include clearfix;
		}

		.orbit-slides-slide  {
			float: left;
			width: 100% / $max-pages;
			-webkit-transition: left .25s ease-in;
			transition: left .25s ease-in;
			margin-left: 0;
		}

	}
}