<div data-alert class="alert-box {{class}}" aria-live="assertive" role="alertdialog">
	{{#if isDataModel}}
		{{{text}}}
	{{else}}
		{{yield}}
	{{/if}}
	<button class="close" on-tap-enter-space="closeClicked" aria-label="Close Alert">&times;</button>
</div>
