<div class="ux-demo-xhr">
	<ux-header level="2">{{ title }}</ux-header>
	<ux-button onclick="doSomeXhr">Test XHR</ux-button>
	<ul>
		<ux-li>Person name: {{ person.name }}</ux-li>
		<ux-li>Person id: {{ person.id }}</ux-li>
	</ul>
</div>