<div class="ux-demo-xhr">
	<ux-header level="2">{{ title }}</ux-header>
	<ux-button onclick="doSomeXhr">Test XHR</ux-button>
	<p>Person name: {{ person.name }}</p>
	<p>Person id: {{ person.id }}</p>
</div>