@import "../../../node_modules/foundation-sites/scss/foundation/functions";
@import "../../../node_modules/foundation-sites/scss/foundation/components/_global.scss";

@mixin tooltipHover {
	display: block;
	width: auto;
	&:after {
		content: "x";
		position: absolute;
		top: 0;
	}
}

@mixin tooltip($className, $size:$small-up) {
	@media #{$size} {
		&.#{$className} {
			cursor: help;

			*[role='tooltip'] {
				display: block;
				width: auto;
				&:after {
					content: "x";
					position: absolute;
					top: 0;
				}
			}
		}
	}
}

.ux-tooltip {
	position: relative;
	display: inline-block;

	@include tooltip('small', $small-only);
	@include tooltip('medium', $medium-only);
	@include tooltip('large', $large-only);
	@include tooltip('xlarge', $xlarge-only);
	@include tooltip('xxlarge', $xxlarge-only);

	/*
	@media #{$small-only} {
		&.small {
			cursor: help;

			*[role='tooltip'] {
				@include tooltipHover
			}
		}
	}

	@media #{$medium-only} {
		&.medium {
			cursor: help;

			*[role='tooltip'] {
				@include tooltipHover
			}
		}
	}

	@media #{$large-only} {
		&.large {
			cursor: help;

			*[role='tooltip'] {
				@include tooltipHover
			}
		}
	}

	@media #{$xlarge-only} {
		&.xlarge {
			cursor: help;

			*[role='tooltip'] {
				@include tooltipHover
			}
		}
	}

	@media #{$xxlarge-only} {
		&.xxlarge {
			cursor: help;

			*[role='tooltip'] {
				@include tooltipHover
			}
		}
	}*/
}