.ux-tooltip {
	position: relative;

	.tooltip {
		width: auto;
		display: block;
		left: 0rem;
		&.tip-top {
			bottom: 1.7rem;
			top: auto;
		}
		&.tip-left {
			/* WIP */
			left: auto;
			margin-top: -1.5em;
			right: 100%;
			top: 0;
		}
		&.tip-right {
			/* WIP */
			left: 105%;
			margin-top: -1.5em;
			right: auto;
			top: 0;
		}
	}
}

/* These classes are refactored from _tooltips.scss */
/*
.tooltip {
	&.tip-bottom, * > .nub {
		border-color: transparent transparent #333333 transparent;
		top: -10px;
	}

	&.tip-top > .nub {
		border-color: #333333 transparent transparent transparent;
		bottom: -10px;
		top: auto;
	}

	&.tip-left > .nub {
		border-color: transparent transparent transparent #333333;
		left: auto;
		margin-top: -5px;
		right: -10px;
		top: 50%;
	}

	&.tip-right > .nub {
		border-color: transparent #333333 transparent transparent;
		left: -10px;
		margin-top: -5px;
		right: auto;
		top: 50%;
	}
}
*/