/*
Supposed to use this but _functions.scss is currently not imported
$small-screen: em-calc(768);
$medium-screen: em-calc(1280);
$large-screen: em-calc(1440); */

$small-screen: 768px;
$medium-screen: 1280px;
$large-screen: 1440px;

$screen: "only screen";
$small: "only screen and (min-width: 0px) and (max-width: #{$small-screen})";
$medium: "only screen and (min-width:#{$small-screen}) and (max-width: #{$medium-screen})";
$large: "only screen and (min-width:#{$medium-screen})";

@mixin tooltipHover {
	display: block;
	width: auto;
	&:after {
		content: "x";
		position: absolute;
		top: 0;
	}
}

*[id*='uxTooltip'] {

	.ux-tooltip {
		position: relative;
		display: inline-block;

		@media #{$small} {
			&.small {
				cursor: help;

				*[role='tooltip'] {
					@include tooltipHover
				}
			}
		}

		@media #{$medium} {
			&.medium {
				cursor: help;

				*[role='tooltip'] {
					@include tooltipHover
				}
			}
		}

		@media #{$large} {
			&.large {
				cursor: help;

				*[role='tooltip'] {
					@include tooltipHover
				}
			}
		}
	}
}