<section class="content {{class}} {{#if !active}}hide{{/if}}" role="tabpanel" aria-hidden="{{#if active}}false{{else}}true{{/if}}">
	{{#if isDataModel}}
		{{>dynamicContent}}
	{{else}}
		{{yield}}
	{{/if}}
</section>
