.ux-page-swipe {

	width: 100vw;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;

	.page {

		display: inline-block;
		width: 100vw;
		height: 100vh;
		overflow-y: scroll;
		overflow-x: hidden;

		&.page1 {
			background-color: #ccc;
		}
		&.page2 {
			background-color: darkred;
		}
		&.page3 {
			background-color: indianred;
		}
		&.page4 {
			background-color: chartreuse;
		}
		&.page5 {
			background-color: lightblue;
		}


	}



}