.ux-page-swipe {

	position: relative;
	height: 100vh;
	width: 100vw;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	
	// auto = Content immediately ceases to scroll when you remove finger from touchscreen.
	-webkit-overflow-scrolling: auto;
	
	// Whitespace gap between page elements.
	font-size: 0;

	.page {

		display: inline-block;
		width: 100%;
		height: 100%;
		padding: 0;
		overflow-y: scroll;
		overflow-x: hidden;
		white-space: normal;

		&.page1 {
			background-color: #ccc;
		}
		&.page2 {
			background-color: darkred;
		}
		&.page3 {
			background-color: indianred;
		}
		&.page4 {
			background-color: chartreuse;
		}
		&.page5 {
			background-color: lightblue;
		}


	}



}