<ul class="pricing-table">

    {{>content}}

    <li class="cta-button">

        {{#if (status == 'comingsoon')}}
            <a class="button disabled" href="#" on-click="buyNow">Coming Soon</a>
        {{/if}}

        {{#if !status}}
            <a class="button" href="{{href}}" on-click="buyNow">Buy Now</a>
        {{/if}}

    </li>

</ul>