<div class="icon-bar five-up">

    <uxiconbaritem src="images/fi-home.svg" label="Home"/>
    <uxiconbaritem src="images/fi-bookmark.svg" label="Bookmark"/>
    <uxiconbaritem src="images/fi-info.svg" label="Info"/>
    <uxiconbaritem src="images/fi-mail.svg" label="Mail"/>
    <uxiconbaritem src="images/fi-like.svg" label="Like"/>

</div>